PORT=5000
SM_ACCESS_TOKEN=access token
FRONTEND_URL=http://localhost:5173
BASE_TEMPLATE_ID=your_template_id
TO_BE_ANALYZE_FOLDER_ID=your_target_folder_id
ANALYZED_FOLDER_ID=your_target_folder_id
ADMIN_USERNAME=admin
ADMIN_PASSWORD=12345

EMAIL_USER=your_gmail_address@gmail.com
EMAIL_PASS=your_16_character_app_password