PORT=5000
SM_ACCESS_TOKEN=access token
FRONTEND_URL=http://localhost:5173
BASE_TEMPLATE_ID=your_template_id
TO_BE_ANALYZE_FOLDER_ID=your_target_folder_id
ANALYZED_FOLDER_ID=your_target_folder_id
ADMIN_USERNAME=admin
ADMIN_PASSWORD=12345

EMAIL_USER=your_gmail_address@gmail.com
EMAIL_PASS=your_16_character_app_password

MONGO_URI=mongodb://localhost:27017/msf-automation

GDRIVE_ROOT_FOLDER_ID=your_root_google_drive_folder_id
ASSISTANT_REGISTRAR_EMAIL=registrar@pgim.cmb.ac.lk


# Google Drive OAuth2
GOOGLE_CLIENT_ID=your_client_id_here.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_client_secret_here
GOOGLE_REFRESH_TOKEN=1//your_super_long_refresh_token_here
GOOGLE_REDIRECT_URI=https://developers.google.com/oauthplayground